<section class="section container">
  <div class="row">
    <div class="col s10 offset-s1 grey darken-3">
      <h2 class="center-align blue-text text-accent-3">
        <i class="fas fa-user-plus"></i> Register
      </h2>
      <% include ./partials/messages %>
      <div class="register-form" action="/users/register" method="POST">
        <!-- <div class="input-field">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div> -->
        <div class="input-field">
          <input
            type="email"
            id="email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
          <label for="email">Email</label>
        </div>
        <div class="input-field">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="input-field">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <div class="bottom-text">
          <button type="submit" class="right waves-effect waves-light btn blue accent-3">
          Register
          </button>
          <p class="white-text">Have An Account? <a href="/users/login">Login</a></p>
      </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
