header {
  background-color: black;
}

body {
  background-color: #212121;
}

.section {
  margin-top: 20px;
}

.tabs .indicator{
  background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active{
  background: transparent;
}

.materialize-textarea {
  color: white;
}

#message {
  height: 250px;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #2979ff;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border: 1px solid #2979ff;
  box-shadow: 0 1px 0 0 #2979ff;
}

textarea.materialize-textarea:focus:not([readonly])+label {
  display: none;
}

textarea.materialize-textarea+label {
  margin-top: 10px;
  margin-left: 0px;
}

#hotkeys {
  margin-top: 15px;
}

.list-group-item {
  line-height: 2.5;
}

#add {
  margin-right: 25px;
}

#logo {
  max-width: 250px;
}

.bigger {
  font-size: 20px;
}

[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid red;
  border-bottom: 2px solid red;
}

/************************************** Login Page Style***************************************/
.login {
  text-shadow: 1px 2px 2px #607d8b;
  font-size: 45px;
  font-weight: 900;
  padding: 20px 30px 10px;
}

.eula {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 30px 20px;
}

.right-login {
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
}

.left-login {
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  margin-top: 30px;
}

.form2 {
  padding: 40px;
}

input[type=text] {
  color: white;
}

input[type=email] {
  color: white;
}

input[type=password] {
  color: white;
}

.input-field>label:not(.label-icon).active {
  color: #448aff;
}

input[type=email]:not(.browser-default):focus:not([readonly])+label {
  color: #448aff;
}

input[type=password]:not(.browser-default):focus:not([readonly])+label {
  color: #448aff;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
  color: #448aff;
}

input[type=email]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #448aff;
  box-shadow: 0 1px 0 0 #000;
}

input[type=password]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #448aff;
  box-shadow: 0 1px 0 0 #000;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #448aff;
  box-shadow: 0 1px 0 0 #000;
}

.section-login {
  margin-top: 200px;
}

/*************************Welcome Page Style*****************************/

.logo {
  max-width: 250px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.logo-row {
  height: 250px;
}

.account {
  font-size: 18px;
}

.register {
  margin: 5px;
}

.register-form {
  width: 70%;
  margin: 50px auto;
}

.bottom-text {
  margin-top: 40px;
}
