<header>
  <nav class='nav-wrapper transparent'>
    <div class='container' id='janky' data-user='{{ id }}'>
      <img class='responsive-img brand-logo center' id='logo' src='/images/RL-circle_logo.gif'/>
      <a href='/logout' class='right blue-text text-accent-3' id='logout'>Logout</a>
    </div>
  </nav>
</header>
{{!-- sweet jesus, please help us --}}
<section class='section container'>
  <div class='row'>
    <div class='col s12'>
      <ul class='tabs'>
          <li class='tab col s4'>
            <a href='#tasks' class='grey darken-4 blue-text text-accent-3 clicky' data-type='task'>Tasks</a>
          </li>
          <li class='tab col s4'>
            <a href='#events' class='grey darken-4 blue-text text-accent-3 clicky' data-type='event'>Events</a>
          </li>
          <li class='tab col s4'>
            <a href='#notes' class='grey darken-4 blue-text text-accent-3 clicky'  data-type='note'>Notes</a>
          </li>
        </ul>
        <div class='col s12 l8 offset-l2'>
          <div class='card' id='tasks'>
            <div class='card-content grey darken-3 white-text'>
              <span class='card-title'>Tasks</span>
              <ul>
                {{#each task}}
                  {{#if task}}
                      {{> task-block}}
                  {{/if}}
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        <div class='col s12 l8 offset-l2'>
          <div class='card' id='events'>
            <div class='card-content grey darken-3 white-text'>
              <span class='card-title'>Events</span>
              <ul>
                {{#each task}}
                  {{#if event}}
                      {{> task-block}}
                  {{/if}}
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        <div class='col s12 l8 offset-l2'>
          <div class='card' id='notes'>
            <div class='card-content grey darken-3 white-text'>
              <span class='card-title'>Notes</span>
              <ul>
                {{#each task}}
                  {{#if note}}
                      {{> task-block}}
                  {{/if}}
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<section class='section container'>
  <div class='row'>
    <div class='col l3 m8 s8 offset-m2 offset-s2'>
      <div class='card grey darken-3' id='hotkeys'>
        <div class='card-content white-text'>
          <span class='card-title'>Hot Keys</span>
          <ul>
            <li class='hotkey'>Task: '<span class='blue-text text-accent-3 bigger'>ctrl</span> + <span class='blue-text text-accent-3 bigger'>.</span>' = ●</li>
            <li class='hotkey'>Event: '<span class='blue-text text-accent-3 bigger'>ctrl</span> + <span class='blue-text text-accent-3 bigger'>,</span>' = ○</li>
            <li class='hotkey'>Note: '<span class='blue-text text-accent-3 bigger'>ctrl</span> + <span class='blue-text text-accent-3 bigger'>/</span>' = ▷</li>
        </div>
      </div>
    </div>
    <div class='col s10 m10 l6 offset-m1 offset-s1'>
      <form>
        <div class='input-field'>
          <i class='material-icons prefix'>logs</i>
              <textarea id='message' class='materialize-textarea'></textarea>
              <label for='message'>Your Logs</label>
        </div>
      </form>
      <a class='waves-effect waves-light btn blue accent-3 right' id='add'>Add to Logs</a>
    </div>
  </div>
</section>


<!-- Compiled and minified JavaScript -->
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script>
<script src='/js/editor.js'></script>
