    {{!-- <form id="signup" name="signup" method="post" action="/register">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />

        <label for="firstname">First name</label>
        <input name="firstname" type="text" />

        <label for="lastname">Last name</label>
        <input name="lastname" type="text" />

        <label for="password">Password</label>
        <input name="password" type="password" />
        
        <input class="btn" type="submit" value="Sign Up" />
    </form> --}}


    <section class="section container">
  <div class="row">
    <div class="col s10 offset-s1 grey darken-3">
      <h2 class="center-align blue-text text-accent-3">
        <i class="fas fa-user-plus"></i> Register
      </h2>

<!-- handlebars partial goes HERE-->

      <div class="register-form">
        <form id="signup" name="signup" method="post" action="/register">
        
        <!-- type="name" casuse white text box -->
         <div class="input-field">
          <label for="firstname">First name</label>
          <input type="text" id="name" name="firstname"/>
        </div> 

        <!-- need id="lastname" and type="lastname" and for css for those id and type -->
        <div class="input-field">
          <label for="lastname">Last name</label>
          <input name="lastname" type="text"/>
        </div> 

        <div class="input-field">
          <input type="email" id="email" class="text" name="email"/>
          <label for="email">Email Address</label>
        </div>

        <div class="input-field">
          <label for="password">Password</label>
          <input type="password" id="password" name="password"/>
        </div>

        {{!-- <div class="input-field">
          <label for="password2">Confirm Password</label>
          <input type="password" id="password2"   />
        </div> --}}

        <div class="bottom-text">
           <input class="btn right waves-effect waves-light btn blue accent-3" type="submit" value="Register" />
          <p class="white-text">Have An Account? <a href="/login">Login</a></p>
      </div>

      </form>
      </div>

    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
