<section class="section container">
  <div class="row">
    <div class="col s6 grey darken-3 offset-s3">
      <div class="row logo-row">
        <img class="logo offset-l3 offset-m2 col" src="/images/RL-circle.png">
      </div>  
        <p class="center-align white-text account">Create an account or login</p>
      <div class="row">
        <a href="/register" class="col s10 register offset-s1 waves-effect waves-light btn blue accent-3 s8"
          >Register</a
        >
        <a href="/login" class="col s10 register offset-s1 waves-effect waves-light btn blue accent-3 s8">Login</a>
      </div>
    </div>
  </div>
</section>
